# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Google Cloud Service Account Keys (NEVER COMMIT THESE!)
elegant-skein-473614-v2-4e1db5a61efb.json
*-credentials.json
service-account*.json

# Test files and debug scripts
test-*.js
debug-*.js
*.ps1
*.bat

app-example
